<h1>root module App</h1>
<button (click)="getalert('hey There!')" ngClass="hey">click me</button>
<p>second module import</p>
<app-login></app-login>
<app-sign-up></app-sign-up>
<br />
<br />
<p>get input box value in console:</p>
<!-- <input type="text" #box (keyup)="getinputvalue(box.value)" /> -->
<p>first enable thebox and after entered the value:</p>
<input type="text" #box [disabled]="disabledbox" />
<h3>{{ inp_value }}</h3>
<button (click)="enablebox()">enable</button>
<br />
<br />
<button (click)="getinputvalue(box.value)">get value</button>
<br /><br />
<ng-template [ngIf]="condition == 'red'">
  <h1 style="color: 'red'">this is RED</h1>
</ng-template>
<ng-template [ngIf]="condition == 'green'">
  <h1 style="color: 'green'">this is GREEN</h1>
</ng-template>
<button (click)="changecondition()">condition</button>
<br /><br />

<input #month type="text" (keyup.enter)="getholiday(month.value)" />
<button (click)="getholiday(month.value)">check</button>
<div [ngSwitch]="holiday">
  <h3 *ngSwitchCase="'january'">
    january holiday list: <br />
    <ul>
      <li>1 New Year's Day <br /></li>

      <li>2 Feast of the Epiphany- Three Kings Day - date varies <br /></li>

      <li>4 Trivia Day <br /></li>

      <li>5 National Bird Day <br /></li>

      <li>10 Houseplant Appreciation Day<br /></li>
      <li>17 Martin Luther King's Birthday - celebrated third Monday<br /></li>
      <li>25 Opposite Day<br /></li>
      <li>26 Australia Day<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'febuary'">
    febuary holiday list <br />
    <ul>
      <li>1 Chinese New Years it's the Year 4720!<br /></li>
      <li>2 Groundhog's Day<br /></li>
      <li>3 Feed the Birds <br /></li>
      <li>4 Winter Olympics begins<br /></li>
      <li>12 Lincoln's <br /></li>
      <li>13 Super Bowl Sunday , Superbowl 56<br /></li>
      <li>14 Valentines Day<br /></li>
      <li>
        15 Singles Awareness Day - Are you single or in between relations? Then,
      </li>
      <li>this day is for you!<br /></li>
      <li>20 Hoodie-Hoo Day<br /></li>
      <li>20 Winter Olympics ends<br /></li>
      <li>21 President's Day - third Monday of month<br /></li>
      <li>22 Washington's Birthday<br /></li>
      <li>27 Oscar Night 2022<br /></li>
      <li>Leap Day - not until 2024</li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'march'">
    march holiday list<br />
    <ul>
      <li>1 Mardi Gras(Fat Tuesday)<br /></li>
      <li>2 Ash Wednesday<br /></li>
      <li>8 International Women's Day<br /></li>
      <li>13 Daylight Savings begins at 2:00 a.m. - date varies<br /></li>
      <li>15 Ides of March<br /></li>
      <li>17 Purim begins at sundown<br /></li>
      <li>17 St. Patrick's Day<br /></li>
      <li>20 International Earth Day - also called Sun-Earth Day<br /></li>
      <li>20 Spring (Vernal) Equinox - date varies<br /></li>
      <li>25 Feast of the Annunciation<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'april'">
    april holiday list
    <br />
    <ul>
      <li>1 April Fool's Day<br /></li>
      <li>1 International Tatting Day<br /></li>
      <li>1 National Walk to Work Day 1st Friday<br /></li>
      <li>2 Ramadan begins<br /></li>
      <li>10 Palm Sunday<br /></li>
      <li>15 Good Friday<br /></li>
      <li>15 Income taxes due (most years it is due on the 15th)<br /></li>
      <li>15 Passover begins at sundown, lasts 8 days.<br /></li>
      <li>17 Easter Sunday<br /></li>
      <li>18 Patriot's Day Third Monday<br /></li>
      <li>22 Earth Day (U.S.)<br /></li>
      <li>
        27 Administrative Professionals Day formerly "Secretaries Day" - date
      </li>
      <li>varies<br /></li>
      <li>28 Take Your Daughter to Work Day 4th Thursday<br /></li>
      <li>29 Arbor Day always the last Friday in April<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'may'">
    may holiday list<br />
    <ul>
      <li>1 May Day<br /></li>
      <li>
        3 National Teacher's Day - Tuesday of first full week of May<br />
      </li>
      <li>4 Star Wars Day<br /></li>
      <li>5 Cinco de Mayo<br /></li>
      <li>7 Kentucky Derby Day. Mint Juleps anyone!? - date varies<br /></li>
      <li>8 VE Day, WW II<br /></li>
      <li>8 Mother's Day - second Sunday<br /></li>
      <li>8 Lilac Sunday - second Sunday in May<br /></li>
      <li>13 Friday the 13th<br /></li>
      <li>21 Armed Forces Day -third Saturday<br /></li>
      <li>23 Victoria Day (Canada) - usually the 24th<br /></li>
      <li>30 Memorial Day - last Monday<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'june'">
    june holiday list<br />
    <ul>
      <li>6 D Day, WWII<br /></li>
      <li>14 Flag Day<br /></li>
      <li>19 Father's Day - third Sunday<br /></li>
      <li>19 Juneteenth Day<br /></li>
      <li>21 Summer Solstice - longest day of the year!, date varies<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'july'">
    july holiday list<br />
    <ul>
      <li>
        1 Canada Day (Dominion Day) - observed the following day, if July 1
        falls
      </li>
      <li>on a Sunday<br /></li>
      <li>4 Independence Day<br /></li>
      <li>5 National Bikini Day<br /></li>
      <li>20 National Hot Dog Day - third Wednesday of month<br /></li>
      <li>22 Hammock Day ...relax and enjoy!<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'august'">
    august holiday list<br />
    <ul>
      <li>5 Labor Day - first Monday<br /></li>
      <li>1 National Mountain Climbing Day<br /></li>
      <li>3 National Watermelon Day<br /></li>
      <li>10 National S'mores Day<br /></li>
      <li>12-13 Perseid Meteor Shower - peak dates vary<br /></li>
      <li>13 Left Hander's Day<br /></li>
      <li>14 V-J Day<br /></li>
      <li>28 Stuffed Green Bell Peppers Day<br /></li>
      <li>30 National Marshmallow Toasting Day<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'september'">
    september holiday list<br />
    <ul>
      <li>2 VJ Day, WWII<br /></li>
      <li>5 Labor Day - first Monday<br /></li>
      <li>11 911 Remembrance<br /></li>
      <li>11 Grandparents Day - first Sunday after Labor Day<br /></li>
      <li>17 Constitution Day<br /></li>
      <li>17 Oktoberfest begins in Germany date varies<br /></li>
      <li>21 International Peace Day (UN)<br /></li>
      <li>22 Autumnal Equinox - date varies<br /></li>
      <li>23 Native American Day the fourth Friday of the month<br /></li>
      <li>25 Rosh Hashanah begins at sundown<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'october'">
    october holiday list<br />
    <ul>
      <li>1 International Day for the Elderly<br /></li>
      <li>3 Oktoberfest ends in Germany<br /></li>
      <li>4 Yom Kippur<br /></li>
      <li>7 World Smile Day first Friday of month<br /></li>
      <li>10 Columbus Day observed on second Monday<br /></li>
      <li>10 Indigenous People Day second Monday of month<br /></li>
      <li>10 Thanksgiving Day in Canada, 2nd Monday<br /></li>
      <li>15 Sweetest Day 3rd Saturday<br /></li>
      <li>17 Boss's Day - Weekday closest to October 16<br /></li>
      <li>24 United Nations Day<br /></li>
      <li>22 Make a Difference Day 4th Saturday<br /></li>
      <li>31 Halloween<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'november'">
    november holiday list<br />
    <ul>
      <li>1 All Saint's Day<br /></li>
      <li>1-2 Dia de los Muertos (Day of the Dead)<br /></li>
      <li>2 All Soul's Day - usually on the 2nd<br /></li>
      <li>
        6 Daylight Savings time ends gain 1 hour of sleep - date varies<br />
      </li>
      <li>
        8 U.S. General Election Day - please exercise your right to vote<br />
      </li>
      <li>11 Veteran's Day<br /></li>
      <li>13 Caregiver Appreciation Day<br /></li>
      <li>13 Sadie Hawkins Day<br /></li>
      <li>17 Great American Smokeout - third Thursday<br /></li>
      <li>20 Universal Children's Day<br /></li>
      <li>24 Thanksgiving Day - fourth Thursday<br /></li>
      <li>25 Black Friday - day after Thanksgiving<br /></li>
      <li>26 Small Business Saturday - Saturday after Thanksgiving<br /></li>
      <li>27 Advent begins<br /></li>
      <li>28 Cyber Monday - Monday after Thanksgiving<br /></li>
    </ul>
  </h3>
  <h3 *ngSwitchCase="'december'">
    december holiday list<br />

    <ul>
      <li>7 Pearl Harbor Day<br /></li>
      <li>12 Poinsettia Day<br /></li>
      <li>18 Chanukah lasts 8 days<br /></li>
      <li>21 Winter Solstice (shortest day of the year)<br /></li>
      <li>23 Festivus - for the rest of us!<br /></li>
      <li>25 Christmas<br /></li>
      <li>26 Kwanzaa<br /></li>
      <li>27 National Fruitcake Day<br /></li>
      <li>28 Boxing Day - date can vary<br /></li>
      <li>31 New Year's Eve<br /></li>
    </ul>
  </h3>
</div>
